	@font-face {
    font-family: 'Helvetica Neue Cyrthin';
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot');
    src: url('../fonts/helveticaneuecyr-thin-webfont.eot?#iefix') format('embeddfonts/ed-opentype'),
         url('../fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneuecyr-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneuecyr-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
